#box1 {
  background-color: #ffcccc;
  padding: 20px;
  color: transparent;
}
#box2 {
  background-color: #ccccff;
  border: 2px solid #000;
  color: transparent;
}
.box {
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  display:inline-block;
}
table {
background: #a7ceff;
width:100%;
border-collapse:collapse;
}
td {
background: #ffffcc;
width:25%;
border:none;
padding: 10px;
}
