/********************
 NAVIGATION
---------------------

1.0 Meyers Reset
  1.1 General
  1.2 Layout
  1.3 Typography
2.0 Header
  2.1 Rectangles Graphic
  2.2 Navigation
3.0 Main
4.0 Sidebar
5.0 Footer
6.0 Blog / Subpage
7.0 Media Queries

********************/

/*======================
  1.0 General
=======================*/

/*
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*======================
  1.1 General
=======================*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 20px normal Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*======================
  1.2 Layout
=======================*/

.fluid-container-black {
  width: 100%;
  background-color: #3d3d3d;
}

.container {
  width: 100%;
  background-color: #fff;
}


/*======================
  1.2 Typography
=======================*/

a {
  text-decoration: none;
  -webkit-transition: ease-in .3s;
  -moz-transtion: ease-in .3s;
  transition: ease-in .3s;
  cursor: crosshair;
  color: #32ffe3;
}
a.active {
  color: #32ffe3;
}

a:hover {
  color: #ff643a;
  -webkit-transition: ease-out .3s;
  -moz-transtion: ease-out .3s;
  transition: ease-out .3s;
}

h1, h2, h3 {
  color: #3d3d3d;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 33px;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
}

/*======================
  2.0 Header
=======================*/

#site-title {
  font-size: 3.4em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding-top: 142px;
}

/*======================
  2.1 Rectangle Design
=======================*/

#rectangles {
  width: 42%;
  margin: 40px auto 0 auto;
}

.line-style {
  display: inline-block;
  margin:0 10px 17px 0;
  height: 8px;
}

#line1 p:first-child {
  width: 20%;
  background-color: #f5dc39;
}

#line1 p:nth-child(2) {
  width: 20%;
  background-color: #b2cce4;
}

#line2 p:first-child {
  width: 15%;
  background-color: #32ffe3;
}

#line2 p:nth-child(2) {
  width: 15%;
  background-color: #b2cce4;
}

#line2 p:nth-child(3) {
  width: 11.15%;
  background-color: #f5dc39;
}

#line2 p:nth-child(4) {
  width: 11.15%;
  background-color: #ff643a;
}

#line3 p:first-child {
  width: 28%;
  background-color: #32ffe3;
}

#line3 p:nth-child(2) {
  width: 58%;
  background-color: #f5dc39;
}

#line3 p:last-child {
  width: 6%;
  background-color: #32ffe3;
}

#line4 p:first-child {
  width: 6%;
  background-color: #f5dc39;
}

#line4 p:nth-child(2) {
  width: 6%;
  background-color: #b2cce4;
}

#line4 p:nth-child(3) {
  width: 38%;
  background-color: #32ffe3;
}

#line4 p:last-child {
  width: 6%;
  background-color: #ff643a;
}

/*======================
  2.2 Navigation
=======================*/

nav {
  width: 50%;
  margin: 0 auto;
  padding: 140px 0 50px 0;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 7.33%;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-transform: uppercase;
}

/*======================
  3.0 Main
=======================*/

.content {
  margin: 70px;
  width: 90%;
  float: left;
}

.post-preview {
  margin: 0 70px 70px 0;
  width: 54%;
  float: left;
}

/*======================
  4.0 Sidebar
=======================*/

.details {
  margin-bottom: 40px;
}

aside {
  background-color: #f6f7f8;
  overflow: hidden;
  padding: 38px;
}
