form {
  margin: 50px auto;
  background-color: #000;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  box shadow: 1px 1px 1px 10px #333;
  padding: 40px;
  width: 200px;
}
